LIBRER√çAS

In [131]:
import pandas as pd
from datetime import date, timedelta, datetime

CARGA DE DATOS Y AJUSTES INICIALES

In [132]:
url_datos_1 = 'https://raw.githubusercontent.com/rgarciamartin/TFM-BigData/main/Datos/H1.csv?token=GHSAT0AAAAAABWGXEHQF4TKJKBQN7QTQ3J4YWRTR5A'
url_datos_2 = 'https://raw.githubusercontent.com/rgarciamartin/TFM-BigData/main/Datos/H2.csv?token=GHSAT0AAAAAABWGXEHQZ6ESF5GYQGHUZAOWYWRTSLA'

In [133]:
df_inicial_1 = pd.read_csv(url_datos_1)
df_inicial_1['hotel'] = 'Resort Hotel'

df_inicial_2 = pd.read_csv(url_datos_2)
df_inicial_2['hotel'] = 'City Hotel'

df_inicial = pd.concat([df_inicial_1, df_inicial_2], ignore_index=True)

df_inicial

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,hotel
0,0,342,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,Resort Hotel
1,0,737,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,Resort Hotel
2,0,7,2015,July,27,1,0,1,1,0.0,...,NULL,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,Resort Hotel
3,0,13,2015,July,27,1,0,1,1,0.0,...,304,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,Resort Hotel
4,0,14,2015,July,27,1,0,2,2,0.0,...,240,NULL,0,Transient,98.00,0,1,Check-Out,2015-07-03,Resort Hotel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,August,35,30,2,5,2,0.0,...,394,NULL,0,Transient,96.14,0,0,Check-Out,2017-09-06,City Hotel
119386,0,102,2017,August,35,31,2,5,3,0.0,...,9,NULL,0,Transient,225.43,0,2,Check-Out,2017-09-07,City Hotel
119387,0,34,2017,August,35,31,2,5,2,0.0,...,9,NULL,0,Transient,157.71,0,4,Check-Out,2017-09-07,City Hotel
119388,0,109,2017,August,35,31,2,5,2,0.0,...,89,NULL,0,Transient,104.40,0,0,Check-Out,2017-09-07,City Hotel
119389,0,205,2017,August,35,29,2,7,2,0.0,...,9,NULL,0,Transient,151.20,0,2,Check-Out,2017-09-07,City Hotel

In [134]:
df_inicial.rename(columns={
    'IsCanceled' : 'is_canceled',
    'LeadTime' : 'lead_time',
    'ArrivalDateYear' : 'arrival_date_year',
    'ArrivalDateMonth' : 'arrival_date_month',
    'ArrivalDateWeekNumber' : 'arrival_date_week_number',
    'ArrivalDateDayOfMonth' : 'arrival_date_day_of_month',
    'StaysInWeekendNights' : 'stays_in_weekend_nights',
    'StaysInWeekNights' : 'stays_in_week_nights',
    'Adults' : 'adults',
    'Children' : 'children',
    'Babies' : 'babies',
    'Meal' : 'meal',
    'Country' : 'country',
    'MarketSegment' : 'market_segment',
    'DistributionChannel' : 'distribution_channel',
    'IsRepeatedGuest' : 'is_repeated_guest',
    'PreviousCancellations' : 'previous_cancellations',
    'PreviousBookingsNotCanceled' : 'previous_booking_not_canceled',
    'ReservedRoomType' : 'reserved_room_type',
    'AssignedRoomType' : 'assigned_room_type',
    'BookingChanges' : 'booking_changes',
    'DepositType' : 'deposit_type',
    'Agent' : 'agent',
    'Company' : 'company',
    'DaysInWaitingList' : 'days_in_waiting_list',
    'CustomerType' : 'customer_type',
    'ADR' : 'adr',
    'RequiredCarParkingSpaces' : 'required_car_parking_spaces',
    'TotalOfSpecialRequests' : 'total_of_special_requests',
    'ReservationStatus' : 'reservation_status',
    'ReservationStatusDate' : 'reservation_status_date'
}, inplace=True)

# Hacer total noches

Limipieza de espacios dentro de algunas variables
- meal
- reserved_room_type
- assigned_room_type
- deposit_type
- agent
- company

In [135]:
variables_to_change = [
    'meal',
    'reserved_room_type',
    'assigned_room_type',
    'deposit_type',
    'agent',
    'company'
]

for column in variables_to_change:
    change_list = df_inicial[column]
    change_list = [item.strip() for item in change_list]
    df_inicial[column] = change_list
    
df_inicial

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,hotel
0,0,342,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,Resort Hotel
1,0,737,2015,July,27,1,0,0,2,0.0,...,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,Resort Hotel
2,0,7,2015,July,27,1,0,1,1,0.0,...,NULL,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,Resort Hotel
3,0,13,2015,July,27,1,0,1,1,0.0,...,304,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,Resort Hotel
4,0,14,2015,July,27,1,0,2,2,0.0,...,240,NULL,0,Transient,98.00,0,1,Check-Out,2015-07-03,Resort Hotel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,August,35,30,2,5,2,0.0,...,394,NULL,0,Transient,96.14,0,0,Check-Out,2017-09-06,City Hotel
119386,0,102,2017,August,35,31,2,5,3,0.0,...,9,NULL,0,Transient,225.43,0,2,Check-Out,2017-09-07,City Hotel
119387,0,34,2017,August,35,31,2,5,2,0.0,...,9,NULL,0,Transient,157.71,0,4,Check-Out,2017-09-07,City Hotel
119388,0,109,2017,August,35,31,2,5,2,0.0,...,89,NULL,0,Transient,104.40,0,0,Check-Out,2017-09-07,City Hotel
119389,0,205,2017,August,35,29,2,7,2,0.0,...,9,NULL,0,Transient,151.20,0,2,Check-Out,2017-09-07,City Hotel

Nuevas Variables
- Fecha de llegada completa en formato string
- Fecha de llegada completa en formato fecha
- Fecha de cambio de estado en formato fecha
- Diferencia en d√≠as entre las 2 fechas anteriores:
  - S√≠ el resultado es negativo, implica que la reserva se cancel√≥ antes de llegada (el valor del n√∫mero ser√≠an los d√≠as de antelaci√≥n con la que se cancel√≥)
  - Si el resultado es positivo, indica los d√≠as de estancia desde la llegada hasta el desalojo del hotel

In [136]:
# Fecha de llegada completa en formato fecha
arrival_date_list = []
for item in range(0, len(df_inicial), 1):
    if df_inicial['arrival_date_day_of_month'][item] < 10:
        arrival_date = datetime.strptime('{}-{}-0{}'.format(df_inicial['arrival_date_year'][item],df_inicial['arrival_date_month'][item],df_inicial['arrival_date_day_of_month'][item]),
                                "%Y-%B-%d"
                            )
    else:
        arrival_date = datetime.strptime('{}-{}-{}'.format(df_inicial['arrival_date_year'][item],df_inicial['arrival_date_month'][item],df_inicial['arrival_date_day_of_month'][item]),
                                "%Y-%B-%d"
                            )
    arrival_date_list.append(arrival_date)

df_inicial['arrival_date_complete'] = arrival_date_list

df_inicial['arrival_date_complete']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: arrival_date_complete, Length: 119390, dtype: datetime64[ns]

In [137]:
# Fecha de llegada completa en formato string
arrival_date_list_str = []
for date in arrival_date_list:
    arrival_date_list_str.append(date.strftime("%Y-%B-%d"))

df_inicial['arrival_date_complete_str'] = arrival_date_list_str

df_inicial['arrival_date_complete_str']

0           2015-July-01
1           2015-July-01
2           2015-July-01
3           2015-July-01
4           2015-July-01
               ...
119385    2017-August-30
119386    2017-August-31
119387    2017-August-31
119388    2017-August-31
119389    2017-August-29
Name: arrival_date_complete_str, Length: 119390, dtype: object

In [138]:
# Fecha de cambio de estado en formato fecha
reservation_status_date_list = []
for item in df_inicial['reservation_status_date']:
    reservation_date = datetime.strptime(item, "%Y-%m-%d")
    reservation_status_date_list.append(reservation_date)
    
df_inicial['reservation_status_date_datetime'] = reservation_status_date_list

df_inicial['reservation_status_date_datetime']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date_datetime, Length: 119390, dtype: datetime64[ns]

In [139]:
# Diferencia en d√≠as entre la fecha de llegada completa y la fecha de cambio de estado
df_inicial['arrival_and_reservation_date_diff'] = df_inicial['reservation_status_date_datetime'] - df_inicial['arrival_date_complete']

df_inicial['arrival_and_reservation_date_diff'] = [item.days for item in df_inicial['arrival_and_reservation_date_diff']]

df_inicial['arrival_and_reservation_date_diff']

0         0
1         0
2         1
3         1
4         2
         ..
119385    7
119386    7
119387    7
119388    7
119389    9
Name: arrival_and_reservation_date_diff, Length: 119390, dtype: int64

Agrupar los valores de adultos:
- 1
- 2
- 3 o m√°s

Esta variable posteriormente se tratar√° con dummies para hacer los modelos

Tambi√©n se va han a quitar las filas que tienen 0 adultos

In [140]:
df_inicial['reservation_status'].value_counts(normalize=True)

Check-Out    0.629584
Canceled     0.360307
No-Show      0.010110
Name: reservation_status, dtype: float64

In [141]:
adult_grouped_list = []
for item in df_inicial['adults']:
    if item == 1:
        adult_grouped_list.append('1')
    elif item == 2:
        adult_grouped_list.append('2')
    else:
        adult_grouped_list.append('3+')

df_inicial['adults_grouped'] = adult_grouped_list

df_inicial = df_inicial[df_inicial["adults"]!=0]

df_inicial.reset_index(inplace=True)

df_inicial

,index,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,hotel,arrival_date_complete,arrival_date_complete_str,reservation_status_date_datetime,arrival_and_reservation_date_diff,adults_grouped
0,0,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Resort Hotel,2015-07-01,2015-July-01,2015-07-01,0,2
1,1,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Resort Hotel,2015-07-01,2015-July-01,2015-07-01,0,2
2,2,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Resort Hotel,2015-07-01,2015-July-01,2015-07-02,1,1
3,3,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Resort Hotel,2015-07-01,2015-July-01,2015-07-02,1,1
4,4,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Resort Hotel,2015-07-01,2015-July-01,2015-07-03,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118982,119385,0,23,2017,August,35,30,2,5,2,...,0,0,Check-Out,2017-09-06,City Hotel,2017-08-30,2017-August-30,2017-09-06,7,2
118983,119386,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,City Hotel,2017-08-31,2017-August-31,2017-09-07,7,3+
118984,119387,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,City Hotel,2017-08-31,2017-August-31,2017-09-07,7,2
118985,119388,0,109,2017,August,35,31,2,5,2,...,0,0,Check-Out,2017-09-07,City Hotel,2017-08-31,2017-August-31,2017-09-07,7,2
118986,119389,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,City Hotel,2017-08-29,2017-August-29,2017-09-07,9,2

Tratar children (hay que revisar que se quiere hacer):
- Poner NAs a 0
- Y el valor 10 eliminar la fila o ponerlo como 3 -> Yo creo que mejor eliminar esa fila

In [142]:
children_grouped_list = []
for item in df_inicial['children']:
    if item == 0:
        children_grouped_list.append(0)
    elif item == None:
        children_grouped_list.append(0)
    else:
        children_grouped_list.append(1)
        
df_inicial['children_grouped'] = children_grouped_list

df_inicial['children_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\1794108961.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['children_grouped'] = children_grouped_list

0    110616
1      8371
Name: children_grouped, dtype: int64

Tratar babies (similar a children)

In [143]:
babies_grouped_list = []
for item in df_inicial['babies']:
    if item == 0:
        babies_grouped_list.append(0)
    elif item == None:
        babies_grouped_list.append(0)
    else:
        babies_grouped_list.append(1)
        
df_inicial['babies_grouped'] = babies_grouped_list

df_inicial['babies_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\1407931938.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['babies_grouped'] = babies_grouped_list

0    118073
1       914
Name: babies_grouped, dtype: int64

Meal:
- Poner los 'sc' como 'undefined'
- Posteriormente hacer dummies para los modelos

In [144]:
meals_grouped_list = []
for item in df_inicial['meal']:
    if item == 'SC':
        meals_grouped_list.append('Undefined')
    else:
        meals_grouped_list.append(item)

df_inicial['meal_grouped'] = meals_grouped_list
        
df_inicial['meal_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\83837443.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['meal_grouped'] = meals_grouped_list

BB           92020
HB           14454
Undefined    11715
FB             798
Name: meal_grouped, dtype: int64

Country:

NAs pasan a ser Desconocido

In [145]:
df_inicial.loc[df_inicial['country'].isna() == True, 'country'] = 'Undefined'

df_inicial['country'].isnull().sum()

0

Previous Cancellation:

2 categor√≠as:
- Ha cancelado antes
- No ha cancelado antes

In [146]:
previous_cancellations_grouped_list = []
for item in df_inicial['previous_cancellations']:
    if item == 0:
        previous_cancellations_grouped_list.append(0)
    else:
        previous_cancellations_grouped_list.append(1)
        
df_inicial['previous_cancellations_grouped'] = previous_cancellations_grouped_list

df_inicial['previous_cancellations_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\1752945580.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['previous_cancellations_grouped'] = previous_cancellations_grouped_list

0    112510
1      6477
Name: previous_cancellations_grouped, dtype: int64

Previous_booking_not_canceled

2 categor√≠as:
- Ha cancelado antes
- No ha cancelado antes

In [147]:
previous_booking_not_canceled_grouped_list = []
for item in df_inicial['previous_booking_not_canceled']:
    if item == 0:
        previous_booking_not_canceled_grouped_list.append(0)
    else:
        previous_booking_not_canceled_grouped_list.append(1)
        
df_inicial['previous_booking_not_canceled_grouped'] = previous_booking_not_canceled_grouped_list

df_inicial['previous_booking_not_canceled_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\2200557630.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['previous_booking_not_canceled_grouped'] = previous_booking_not_canceled_grouped_list

0    115375
1      3612
Name: previous_booking_not_canceled_grouped, dtype: int64

Booking_changes

2 categor√≠as:
- Ha habido cambios
- No ha habido cambios

In [148]:
booking_changes_grouped_list = []
for item in df_inicial['booking_changes']:
    if item == 0:
        booking_changes_grouped_list.append(0)
    else:
        booking_changes_grouped_list.append(1)
        
df_inicial['booking_changes_grouped'] = booking_changes_grouped_list

df_inicial['booking_changes_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\3583484642.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['booking_changes_grouped'] = booking_changes_grouped_list

0    101066
1     17921
Name: booking_changes_grouped, dtype: int64

Agent:

Pasar NULLs a desconocido (se le va a dar el valor 0)

In [153]:
df_inicial.loc[df_inicial['agent'] == 'NULL', 'agent'] = 0

df_inicial['agent'].value_counts()

9            31743
Undefined    16263
240          13922
1             7187
14            3617
             ...
285              1
289              1
406              1
265              1
497              1
Name: agent, Length: 334, dtype: int64

Company:

2 categor√≠as:
- Con compa√±ia
- Sin compa√±ia

In [154]:
company_grouped_list = []
for item in df_inicial['company']:
    if item == 'NULL':
        company_grouped_list.append(0)
    else:
        company_grouped_list.append(1)
        
df_inicial['company_grouped'] = company_grouped_list

df_inicial['company_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\3091643442.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['company_grouped'] = company_grouped_list

0    112221
1      6766
Name: company_grouped, dtype: int64

Days_in_waiting_list:

2 categor√≠as:
- Ha estado en la lista de espera
- No ha estado en la lista de espera

In [156]:
days_in_waiting_list_grouped_list = []
for item in df_inicial['days_in_waiting_list']:
    if item == 0:
        days_in_waiting_list_grouped_list.append(0)
    else:
        days_in_waiting_list_grouped_list.append(1)
        
df_inicial['days_in_waiting_list_grouped'] = days_in_waiting_list_grouped_list

df_inicial['days_in_waiting_list_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\914850612.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['days_in_waiting_list_grouped'] = days_in_waiting_list_grouped_list

0    115294
1      3693
Name: days_in_waiting_list_grouped, dtype: int64

required_car_parking_spaces:

2 categor√≠as:
- Necesita parking
- No necesita parking

In [158]:
required_car_parking_spaces_grouped_list = []
for item in df_inicial['required_car_parking_spaces']:
    if item == 0:
        required_car_parking_spaces_grouped_list.append(0)
    else:
        required_car_parking_spaces_grouped_list.append(1)
        
df_inicial['required_car_parking_spaces_grouped'] = required_car_parking_spaces_grouped_list

df_inicial['required_car_parking_spaces_grouped'].value_counts()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11224\1478586949.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inicial['required_car_parking_spaces_grouped'] = required_car_parking_spaces_grouped_list

0    111580
1      7407
Name: required_car_parking_spaces_grouped, dtype: int64

La siguiente celda sirve para descargar el los datos que quieras en formato csv en local

df_inicial.to_csv("inicial.csv")
files.download("inicial.csv")